{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.839189494509974,
        "longitude": -77.31339812278749,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/New_York",
        "external_url": null,
        "internal_url": null
    }
}